/* mobile HEIGHT fixes */
@media only screen and (max-height : 900px) {
   
}
    
@media only screen and (max-height : 720px) {
    
}

/* mobile WIDTH fixes */
@media only screen and (max-width : 1650px) {
    .wrap{ float: left; width: 84%; margin-left: 8%; margin-right: 8%; height: auto; }
}

@media only screen and (max-width : 1300px) {
    .nav-center{ width: calc(100% - 200px); margin-left: 50px; margin-right: 0; justify-content: space-between; }
    .nav{ font-size: 13px; }
    .nav-address{ margin-top: 10px; }
    .header { min-height: 0; padding-bottom: 30px; }
    .header h1{ margin-top: 0px; font-size: 40px; }
    .head-last{ margin-top: 70px; }

    .header-news{ padding-bottom: 0; }
}

@media only screen and (max-width : 1200px) {
    .foot-center{ width: calc(100% - 290px); margin: 2px 15px 30px; }
    .foot{ font-size: 11px; }

    .foot-right{ width: 110px; }

}

@media only screen and (max-width : 1040px) {

    .header-main{ background-position: center center; }

    .header-club{ background-position: left center; }

    .header-center{ background-position: center center; }

    .header-fitness{ background-position: left center; }

    .header-contacts{ background-position: center top; }

    .main-options{ padding-top: 40px; padding-bottom: 40px; }
    .mo-left{ width: 100%; }
    .mo-right{ width: 100%; margin: 45px 0 0;}

    .club-elite h3{ margin-top: 0; }

    .ce-card{ width: 100%; }
    .ce-card img{ width: 50%; margin: 0 25%; }
    .ce-icons{ width: 100%; margin: 50px 0 0; }


    .card-slide-txt{ width: 60%; margin: 0px 20%; }

    .club-training h2{ font-size: 20px; margin-top: 0px; margin-bottom: 20px; }
    .cr-left{ width: 100%; margin: 0; }
    .cr-right{ width: 100%; margin: 50px 0 0; }

    .section-news h2{ margin-top: 0px;}
}

@media only screen and (max-width : 1000px) {
    .header h1{ margin-top: 40px; }
    .section-news h2{ margin-top: 40px; font-size: 22px; }

    .nav-close, .nav-burger{ display: block; }
    .nav-mobile{ display: none; position: absolute; top: 0; left: 0; width: 100%; height: auto; z-index: 4; background: #fff; }
    .nav-center{ float: left; width: 100%; padding-top: 45px; display: block; height: auto; margin: 0; }
    .nav{ float: left; width: 100%; text-align: center; line-height: 34px; }
    .nav-address{ float: left; width: 100%; margin: 0; padding: 20px 0; text-align: center; background: #ebebeb; }

    .navigation{ margin-top: 30px; }
    .nav-mobile-logo{ float: left; width: calc(100% - 30px); text-align: center; }
    .nav-logo{ float: none; width: 120px; display: inline-block; }

    .foot-left{ width: 100%; margin-bottom: 14px; }
    .foot-left img{ float: left; width: 100px; }
    .foot-icons{ float: right; margin: 0; }

    .foot-center{ float: left; width: 50%; margin: 0; }
    .foot-center-navigation{ width: 100%; margin: 0; display: block; }
    .foot{ float: left; width: 100%; margin-top: 5px; }

    .foot-center-address{ width: 200%; margin-top: 20px; }

    .foot-right{ width: 50%; }

    .footer-gi{ text-align: center; margin-top: 20px; }
    .foot-gi{ display: inline-block; float: none; }

    .mf-box{ width: 49%; margin: 25px 0; }
    .mf-box p{ margin: 0 auto; }

    .center-massage{ padding-bottom: 140px; }

    .new-img{ float: left; width: 100%; margin: 0; }
    .new-txt{ float: left; width: 100%; margin: 40px 0 0; }

    .cm-left{ width: 45%; margin-right: 5%; }
    .cm-right{ width: 45%; margin-left: 5%; }

    .cm-center{ bottom: 50px; left: 0; width: 100%; }
}

@media only screen and (max-width : 800px) {
    .modal{ width: 100%; margin: 50px auto; }

    .modal-message{ min-height: 420px; }

    .header h1{ font-size: 20px; margin-bottom: 40px; }

    .head-icons{ margin-top: 32px; }
    .head-address{ width: 120px; }

    .header h2{ width: 100%; margin: 0 0 35px 0; }

    .main-advantages{ padding-bottom: 50px; }
    .main-advantages h2{ font-size: 20px; margin-bottom: 20px; }
    .ma-box{ width: 46%; margin: 0 2%; padding: 25px 0 0 12px; word-wrap: break-word }

    .main-cards h2{ font-size: 20px; margin-bottom: 20px; }

    .main-trainers h2{ left: 0; top: 50px; font-size: 20px; margin-bottom: 20px; }

    .main-new{ width: 100%; margin: 20px 0 0; }

    .map-back{ width: 100%; height: 430px; }
    .map-box{ height: 380px; }
    .contacts-map{ height: 700px; }

    .contact-row img{ margin-right: 10px; }
    .contact-row p{ width: 140px; margin: 0; height: auto; }

    .new-inner h2{ width: 100%; margin-right: 0; font-size: 22px; }
    .in-icon{ padding: 0 12px; }
    .in-icon img{ margin-right: 0; }
    .in-icon p{ display: none; }

    .center-massage{ background: #fff; }

    .center-massage h2{ font-size: 20px; margin-top: 10px; margin-bottom: 20px; }
    .center-massage h3{ width: 100%; margin-right: 0; }

    .cm-box h4{ font-size: 13px; }
    .cm-box p{ width: 100%; margin: 20px 0 0; }

    .cp-result{ width: 24%; margin-right: 1%; }
    .cp-result p{ font-size: 11px; }

    .fitness-zal h4{ width: 100%; margin: 20px 0 0;}

    .fz-boxes{ display: block; }
    .fz-box{ width: 100%; margin: 30px 0 0; }
    .fz-box p{ width: 50%; margin: 10px 25% 0; }

    .fitness-group h2{ font-size: 20px; margin-top: 0; margin-bottom: 20px; }

    .fitness-raspisanie{ height: 100px; }
    .fitness-raspisanie h2{ width: 100%; font-size: 22px; }

    .fitness-card h2{ font-size: 20px; margin-bottom: 20px; }

    .fc-left{ width: 60%; margin: 15px 20% 0; }
    .fc-right{ width: 100%; margin: 45px 0 0; }
    .fc-right p{ width: 100%; margin: 0 0 40px; }

    .ce-icon{ width: 48%; margin: 0 1%; }

    .ce-card img{ width: 70%; margin: 0 15%; }

    .club-cards h2{ font-size: 20px; margin-bottom: 20px; }
}

@media only screen and (max-width : 600px) {
    .new-img{ height: 250px; }
    .mo-border{ height: 250px; }

    .fitness-raspisanie h2{ width: 100%; font-size: 15px; }

    .mo-btns button{ padding: 10px 14px; }

    .mt-slider{ display: block; }
    .mt-left, .mt-right{ display: none; }

    .cards-slide h4{ display: block; text-align: center; font-size: 16px; margin-top: 10px; }

    .cards-slide p{ display: block; text-align: center; font-size: 14px; margin-top: 20px; }

    .main-cards .btn-wrap{ display: none; }
}

@media only screen and (max-width : 500px) {
    .card-slide-txt{ width: 80%; margin: 0px 10%; }
}

@media only screen and (max-width : 450px) {
    .ma-box{ height: 200px; }
    .new-img{ height: 200px; }

    .mo-border{ height: 200px; }

    .ce-price{ margin-left: 0; }
}
