/* llider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    outline: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
/*
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}*/
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
    content: '';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 5px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 34px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* CUSTOM */

.slick-slider{
    float: left;
    width: 100%;
    margin: 50px 0;

    position: relative;
}
.slick-prev{
    position: absolute;
    top: 185px;
    left: -70px;
    z-index: 5;
    
    height: 40px;
    width: 40px;
    background: url(../img/icons/slider-prev.svg) center center no-repeat;
    background-size: contain;
}
 .slick-next{
    position: absolute;
    top: 185px;
    right: -70px;
    z-index: 5;
     
    height: 40px;
    width: 40px;
    background: url(../img/icons/slider-next.svg) center center no-repeat;
    background-size: contain;
}
.slick-img{
    float: left;
    width: 100%;
    text-align: center;
}
.slick-img img{
    display: inline-block;
    width: 150px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.slick-txt{
    float: left;
    width: 100%;
    margin-top: 25px;
    
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: "GothamProRegular";
}

/* GALLERY SLIDER */

.gallery-slider{
    width: 74%;
    margin: 50px 13%;

    position: relative;
}

.gallery-slider .slick-prev, .gallery-slider .slick-next{
    top: 145px;
    z-index: 5;
}

.gallery-slider .slick-dots{
    bottom: -40px;
}

.gallery-slider .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 4px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.gallery-slide img{ width: 100%; }

.slick-thumb{ height: 4px; width: 30px; background: #b5b5b5; -webkit-transition: .3s linear; transition: .3s linear; }

.slick-active .slick-thumb{ background: #31af31;; }

/* CARDS SLIDER */

.cards-slider{
    width: 80%;
    margin: 50px 10%;

    position: relative;
}

.cards-slider .slick-dots{
    bottom: -40px;
}

.cards-slider .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 4px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.cards-slide img{  width: 100%; opacity: 0.3; -webkit-transition: .2s linear; transition: .2s linear; position: relative; z-index: 1; transform: scale(.9); box-shadow: 0px 2px 2.6px 2.4px rgba(0, 0, 0, 0.16); }

.cards-last img{ opacity: .7; transform: scale(1); z-index: 1; }
.cards-pre img{ opacity: .7; transform: scale(1.4); z-index: 2; }
.cards-center img{ opacity: 1; transform: scale(1.8); z-index: 3;}

.cards-slider .slick-prev{top: 145px;left: -70px;}
.cards-slider .slick-next{ top: 145px;right: -70px; }
.cards-slider .slick-track{ height: 170px; padding: 80px 0 0; }

.slick-thumb{ height: 4px; width: 30px; background: #b5b5b5; -webkit-transition: .3s linear; transition: .3s linear; }

.slick-active .slick-thumb{ background: #31af31;; }


/* TRAINERS SLIDER */

.trainers-slider{ width: 80%; margin: 50px 10%; position: relative; }

.trainers-slider .slick-track{ padding: 20px 0; }

.trainers-slide img{ width: 80%; margin: 0 10%; box-shadow: .5px 1px .5px rgba(0, 0, 0, 0.16); -webkit-filter: grayscale(1-00%); filter: grayscale(100%); opacity: 0.5; -webkit-transition: .3s linear; transition: .3s linear; }

.trainers-active img{ filter: none; opacity: 1; }

.trainers-slider .slick-prev{
    top: 135px;
    background: url(../img/icons/arrow-left.svg) center center no-repeat;
    background-size: contain;
}
.trainers-slider .slick-next{
    top: 135px;
    background: url(../img/icons/arrow-right.svg) center center no-repeat;
    background-size: contain;
}

/* 1 card slider */
.card-slider{ width: 80%; margin: 50px 10%; }

.card-slider .btn-wrap{ margin-top: 20px; }


@media only screen and (max-width : 1300px) { 

}
@media only screen and (max-width : 1040px) {
    .gallery-slider .slick-prev, .gallery-slider .slick-next{ top: 105px; }

    .card-slide img{ width: 60%; margin: 30px 20%; }
    .card-slider .slick-prev, .card-slider .slick-next{ top: 145px; }


}
@media only screen and (max-width : 600px) {
    .gallery-slider .slick-prev, .gallery-slider .slick-next{ top: 45px; }
}
@media only screen and (max-width : 500px) {
    .gallery-slider .slick-prev, .gallery-slider .slick-next{ height: 30px; width: 30px; }
    .gallery-slider .slick-prev{ top: 35px; left: -40px; }
    .gallery-slider .slick-next{ top: 35px; right: -40px; }

    .gallery-slider .slick-dots li{ width: 15px; }
    .gallery-slider .slick-thumb{ width: 15px; }

    .card-slide img{ width: 80%; margin: 30px 10%; }
    .card-slider .slick-prev, .card-slider .slick-next{ height: 30px; width: 30px; }
    .card-slider .slick-prev{ top: 85px; left: -40px; }
    .card-slider .slick-next{ top: 85px; right: -40px; }

    .cards-slider .slick-prev, .cards-slider .slick-next{ height: 30px; width: 30px; }
    .cards-slider .slick-prev{ top: 85px; left: -40px; }
    .cards-slider .slick-next{ top: 85px; right: -40px; }

    .trainers-slider .slick-prev, .trainers-slider .slick-next{ height: 30px; width: 30px; }
    .trainers-slider .slick-prev{ top: 45px; left: -40px; }
    .trainers-slider .slick-next{ top: 45px; right: -40px; }
}

