/* CONSTANTS */
button {
  font-family: "ProximaNovaBold";
}
input,
textarea {
  font-family: "OpenSans-Regular";
}
body {
  float: left;
  width: 100%;
  height: auto;
  color: #313131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans-Regular";
  font-weight: bold;
}
.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: block;
  display: none;
}
.modal-wrapper {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
.modal-close {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(../img/icons/modal-close.svg) center center no-repeat;
  background-size: cover;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.modal .modal-close {
  top: 10px;
  right: 10px;
  height: 13px;
  width: 13px;
}
.modal {
  display: none;
  margin: 150px auto;
  height: auto;
  min-height: 260px;
  max-width: 700px;
  width: 90%;
  background: #fff;
  color: #3b3b3b;
  box-sizing: border-box;
  padding: 40px 30px;
  text-align: center;
  z-index: 6;
  padding-top: 20px;
  padding-bottom: 2px;
  position: relative;
}
.modal h4 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "OpenSans-Semibold";
  font-weight: normal;
}
.modal input {
  float: left;
  width: 80%;
  margin: 10px 10% 0;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #e6e6e6;
  color: #000;
  border: solid 1px #818181;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.modal input:focus {
  border: 1px solid #31af31;
}
.modal textarea {
  float: left;
  width: 80%;
  margin: 10px 10% 0;
  max-width: 100%;
  height: 80px;
  max-height: 80px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #e6e6e6;
  color: #000;
  border: solid 1px #818181;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.modal textarea:focus {
  border: 1px solid #31af31;
}
.modal-message {
  min-height: 380px;
}
.thx {
  display: block;
  margin: 150px auto;
  height: auto;
  width: 270px;
  background: #fff;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  border: 1px solid #5d4063;
  font-size: 13px;
  padding: 40px 25px;
  text-align: center;
  z-index: 13;
  display: none;
}
.thx p {
  font-size: 13px;
}
.btn-wrap {
  float: left;
  width: 100%;
  text-align: center;
}
#vue-app {
  float: left;
  width: 100%;
}
.wrap {
  float: left;
  width: 66%;
  margin-left: 17%;
  margin-right: 17%;
  height: auto;
}
.header {
  float: left;
  width: 100%;
}
.header-main {
  min-height: 780px;
  background: url('../img/header-main.jpg') center center no-repeat;
  background-size: cover;
}
.header-main h1 {
  float: left;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 100%;
  font-size: 50px;
  font-family: "OpenSans-ExtraBold";
}
.header-news {
  padding-bottom: 40px;
}
.header-club {
  min-height: 780px;
  background: url('../img/header-club.jpg') center center no-repeat;
  background-size: cover;
}
.header-club h1 {
  float: left;
  margin-top: 60px;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "OpenSans-ExtraBold";
}
.header-club h2 {
  float: left;
  width: 45%;
  margin-right: 55%;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}
.header-center {
  min-height: 780px;
  background: url('../img/header-center.jpg') center center no-repeat;
  background-size: cover;
}
.header-center h1 {
  float: left;
  margin-top: 60px;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "OpenSans-ExtraBold";
}
.header-center h2 {
  float: left;
  width: 45%;
  margin-right: 55%;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}
.header-fitness {
  min-height: 780px;
  background: url('../img/header-fitness.jpg') center center no-repeat;
  background-size: cover;
}
.header-fitness h1 {
  float: left;
  margin-top: 60px;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "OpenSans-ExtraBold";
}
.header-fitness h2 {
  float: left;
  width: 45%;
  margin-right: 55%;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}
.header-contacts {
  min-height: 580px;
  background: url('../img/header-contacts.jpg') center center no-repeat;
  background-size: cover;
}
.header-contacts h1 {
  float: left;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 50px;
  font-family: "OpenSans-ExtraBold";
}
.contact-row {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.contact-row img {
  float: left;
  height: 16px;
  width: auto;
  margin: 7px 5px 0 0;
  opacity: 0.7;
}
.contact-row p {
  float: left;
  margin-left: 5px;
  width: auto;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
}
.navigation {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.nav-burger {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background: url('../img/icons/nav-burger.svg') center center no-repeat;
  background-size: contain;
  cursor: pointer;
  display: none;
}
.nav-logo {
  float: left;
  width: 150px;
  height: auto;
}
.nav-logo img {
  width: 100%;
  height: auto;
}
.nav-center {
  float: left;
  width: calc(100% - 410px);
  margin: 0 60px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}
.nav-close {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 30px;
  width: 25px;
  background: url('../img/icons/nav-close.svg') center center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 5;
  display: none;
}
.nav {
  width: auto;
  height: 100%;
  line-height: 52px;
  font-size: 14px;
  color: #000;
  font-family: "OpenSans-Semibold";
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.nav:hover {
  color: #31af31;
}
.nav-address {
  float: right;
  height: auto;
  width: 140px;
  text-align: right;
}
.nav-address p {
  float: left;
  width: 100%;
  font-size: 13px;
}
.nav-address span {
  float: left;
  width: 100%;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  font-family: "OpenSans-Semibold";
}
.btn {
  width: auto;
  box-sizing: border-box;
  padding: 10px 45px;
  font-size: 12px;
  letter-spacing: 1px;
  outline: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.btn-green {
  color: #fff;
  background: #31af31;
  border: 1px solid #31af31;
}
.btn-green:hover {
  background: #298c29;
}
.btn-trans {
  color: #31af31;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #31af31;
}
.btn-trans:hover {
  background: #31af31;
  color: #fff;
}
.btn-left {
  float: left;
}
.btn-right {
  float: right;
}
.btn-center {
  display: inline-block;
}
.head-last {
  float: left;
  width: 100%;
  margin-top: 120px;
}
.head-icons {
  float: left;
  width: auto;
  height: 24px;
}
.head-icons svg {
  float: left;
  height: 18px;
  width: auto;
  margin-top: 2px;
  margin-right: 10px;
  opacity: 0.7;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.head-icons svg:hover {
  fill: #31af31;
  opacity: 1;
}
.head-icons .head-vk {
  height: 22px;
  margin: 0;
}
.head-address {
  float: right;
  width: 250px;
  text-align: right;
}
.head-address p {
  float: left;
  width: 100%;
  font-size: 14px;
}
.head-address span {
  float: left;
  width: 100%;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
}
.tsection,
.main-advantages,
.main-cards,
.main-trainers,
.main-options,
.main-news {
  float: left;
  width: 100%;
}
.main-advantages {
  background: #ebebeb;
}
.main-advantages h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
}
.main-cards {
  background: #ebebeb;
  padding-bottom: 50px;
}
.main-cards h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
}
.main-cards .btn-wrap {
  margin-top: 40px;
}
.main-trainers {
  background: #ebebeb;
}
.main-trainers .wrap {
  padding-top: 120px;
  position: relative;
}
.main-trainers h2 {
  position: absolute;
  width: auto;
  top: 60px;
  left: 200px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
  z-index: 2;
}
.mt-left {
  float: left;
  width: 30%;
  height: 500px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  box-shadow: 0.5px 1px 0.5px rgba(49, 175, 49, 0.4);
  position: relative;
  z-index: 1;
  /*background: url('../img/slide-trainer.png') center center no-repeat; background-size: contain;*/
}
.mt-right {
  float: left;
  width: 65%;
  margin-left: 5%;
}
.mt-title {
  float: left;
  width: calc(100% - 80px);
  margin-left: 80px;
  position: relative;
}
.mt-title h3 {
  float: left;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
}
.mt-title h4 {
  float: left;
  width: 100%;
  margin-top: 8px;
  font-size: 14px;
  color: #31af31;
}
.mt-title p {
  float: left;
  width: 80%;
  min-height: 110px;
  margin-top: 14px;
  font-size: 14px;
  line-height: 22px;
}
.trainers-slide h3 {
  display: none;
}
.trainers-slide h4 {
  display: none;
}
.trainers-slide p {
  display: none;
}
.mt-line {
  position: absolute;
  top: 18px;
  left: -80px;
  height: 2px;
  width: 70px;
  margin-right: 0px;
  background: url('../img/mo-line.png') center center no-repeat;
  background-size: cover;
}
.ma-box {
  float: left;
  width: 27%;
  margin: 0 3%;
  box-sizing: border-box;
  padding: 35px 25px;
  position: relative;
}
.ma-box p {
  float: left;
  width: 100%;
  height: 120px;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
}
.ma-box span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: rgba(49, 175, 49, 0.3);
  font-family: "OpenSans-Semibold";
}
.main-options {
  padding: 120px 0 140px;
  background: url('../img/main-options.jpg') center center no-repeat;
  background-size: cover;
}
.mo-left {
  float: left;
  width: 40%;
}
.mo-nav {
  float: left;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
.mo-nav p {
  float: left;
  width: auto;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-family: "OpenSans-Semibold";
}
.mo-nav.js-active p {
  color: #000;
}
.mo-nav.js-active .mo-line {
  width: 33px;
  margin-right: 5px;
}
.mo-nav:hover p {
  color: #000;
}
.mo-line {
  float: left;
  margin-top: 16px;
  height: 2px;
  width: 0px;
  margin-right: 0px;
  background: url('../img/mo-line.png') center center no-repeat;
  background-size: cover;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.mo-list {
  float: left;
  width: calc(100% - 38px);
  margin-left: 38px;
  display: none;
}
.js-active .mo-list {
  display: block;
}
.mo-row {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  color: #8d8d8d;
}
.mo-row:hover {
  color: #31af31;
}
.mo-row.js-active {
  color: #31af31;
}
.mo-txt {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mo-txt p {
  float: left;
  width: 100%;
  font-size: 14px;
}
.mo-right {
  float: left;
  width: 55%;
  margin-left: 5%;
}
.mo-program {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.mo-program h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  font-family: "OpenSans-Semibold";
}
.mo-program p {
  float: left;
  width: 100%;
  margin-top: 18px;
  font-size: 14px;
}
.mo-btns {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.mo-btns-icon {
  float: right;
}
.mo-btns-icon img {
  float: left;
  height: 30px;
  margin: 5px;
  width: auto;
}
.mo-btns-icon span {
  float: left;
  height: 40px;
  width: auto;
  line-height: 40px;
  font-size: 15px;
  font-family: "OpenSans-Semibold";
}
.mo-border {
  float: left;
  width: 100%;
  margin-top: 20px;
  height: 360px;
  box-sizing: border-box;
  border: 2px solid #31af31;
  position: relative;
}
.mo-border-img {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 26px 23.5px 3.5px rgba(0, 0, 0, 0.3);
}
.main-news {
  background: #fff;
  padding-bottom: 80px;
}
.main-news h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 80px;
  margin-bottom: 70px;
}
.main-new {
  float: left;
  width: 27%;
  margin: 0 3%;
}
.main-new h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
}
.main-new p {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}
.main-new a {
  float: right;
  width: auto;
  font-size: 14px;
  color: #000;
  font-family: "OpenSans-Bold";
  margin-top: 30px;
  text-decoration: underline;
}
.main-new a:hover {
  color: #31af31;
}
.mn-img {
  float: left;
  width: 100%;
  height: 200px;
}
.main-facts {
  float: left;
  width: 100%;
  background: #ebebeb;
  padding-bottom: 80px;
  text-align: center;
}
.main-facts h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.mf-box {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.mf-box img {
  height: 40px;
  margin-bottom: 10px;
}
.mf-box p {
  width: 100px;
  margin: 0 50px;
  font-size: 14px;
}
.mf-20 img {
  height: 30px;
  margin: 5px 0 15px;
}
.main-map {
  float: left;
  width: 100%;
  height: 300px;
}
.contacts-map {
  float: left;
  width: 100%;
  height: 400px;
}
.map-layer {
  float: left;
  width: 100%;
  height: 0;
  position: relative;
}
.map-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.map-box {
  float: left;
  width: 80%;
  margin: 25px 10%;
  height: 350px;
  background: #fff;
  box-sizing: border-box;
  padding: 40px 30px;
}
.map-box h4 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  font-weight: normal;
}
.mod input {
  float: left;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #e6e6e6;
  color: #000;
  border: solid 1px #818181;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.mod input:focus {
  border: 1px solid #31af31;
}
.mod textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  height: 80px;
  max-height: 80px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #e6e6e6;
  color: #000;
  border: solid 1px #818181;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.mod textarea:focus {
  border: 1px solid #31af31;
}
.mod-wrap {
  float: left;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.footer {
  float: left;
  width: 100%;
  padding-top: 40px;
  background: #cbcbcb;
}
.footation {
  float: left;
  width: 100%;
}
.foot-left {
  float: left;
  width: 150px;
  height: auto;
}
.foot-left img {
  width: 100%;
  height: auto;
}
.foot-icons {
  float: left;
  width: auto;
  height: 24px;
  margin-top: 20px;
}
.foot-icons svg {
  float: left;
  height: 18px;
  width: auto;
  margin-top: 2px;
  margin-right: 10px;
  opacity: 0.7;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.foot-icons svg:hover {
  fill: #31af31;
  opacity: 1;
}
.foot-icons .head-vk {
  height: 22px;
  margin: 0;
}
.foot-center {
  float: left;
  width: calc(100% - 410px);
  margin: 0 60px 30px;
  height: auto;
}
.foot-center-navigation {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.foot {
  width: auto;
  height: 100%;
  font-size: 12px;
  color: #000;
  font-family: "OpenSans-Semibold";
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.foot:hover {
  color: #31af31;
}
.foot-center-address {
  float: left;
  width: 100%;
}
.foot-center-address p {
  float: left;
  width: 100%;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  text-align: center;
}
.foot-center-address span {
  float: left;
  width: 100%;
  font-family: "OpenSans-Bold";
  font-size: 13px;
  text-align: center;
  text-decoration: underline;
}
.foot-right {
  float: right;
  height: auto;
  width: 140px;
  text-align: right;
}
.foot-right p {
  float: left;
  width: 100%;
  font-size: 13px;
}
.foot-right span {
  float: left;
  width: 100%;
  font-family: "OpenSans-Semibold";
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}
.footer-gi {
  float: left;
  width: 100%;
  padding: 20px 0;
  background: #c0c0c0;
}
.foot-gi {
  float: right;
  width: auto;
  height: 22px;
}
.foot-gi span {
  float: left;
  width: auto;
  margin-right: 10px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  color: #000;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.foot-gi svg {
  float: left;
  width: auto;
  height: 20px;
}
.foot-gi path {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  fill: #2281c1;
}
.foot-gi:hover span {
  color: #fff;
}
.foot-gi:hover path {
  fill: #2281c1;
}
.section-news {
  float: left;
  width: 100%;
}
.section-news h2 {
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 30px;
  font-family: "OpenSans-ExtraBold";
}
.new {
  float: left;
  width: 100%;
  margin-bottom: 70px;
}
.new-img {
  float: left;
  width: 40%;
  height: 300px;
  margin-right: 7%;
  box-shadow: 0px 26px 23.5px 3.5px rgba(0, 0, 0, 0.3);
}
.new-txt {
  float: left;
  width: 45%;
  margin-right: 8%;
}
.new-txt h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "OpenSans-Semibold";
}
.new-txt p {
  float: left;
  width: 100%;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.news-pagination {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}
.np-box {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  height: 40px;
  width: 40px;
  font-size: 15px;
  line-height: 30px;
  padding: 4px 0;
  cursor: pointer;
  color: #000;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.np-box:hover {
  background: #31af31;
  color: #fff;
  opacity: 0.8;
}
.np-box.js-active {
  background: #31af31;
  color: #fff;
}
.np-box.js-active:hover {
  background: #298c29;
  opacity: 1;
}
.new-inner {
  float: left;
  width: 100%;
}
.new-inner h2 {
  float: left;
  width: 70%;
  margin-top: 20px;
  margin-right: 30%;
  font-size: 30px;
  font-family: "OpenSans-ExtraBold";
}
.new-inner h3 {
  float: left;
  width: 90%;
  margin-right: 10%;
  font-size: 16px;
  margin-top: 20px;
}
.new-inner img {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.new-inner p {
  float: left;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
  margin-bottom: 14px;
  white-space: pre-line;
  word-break: break-all;
}
.ni-date {
  float: left;
  width: 100%;
  margin-top: 30px;
  color: #8e8e8e;
  font-size: 13px;
}
.in-icons {
  float: left;
  width: 100%;
  margin-bottom: 70px;
}
.in-icon {
  float: left;
  margin-right: 15px;
  margin-top: 30px;
  width: auto;
  box-sizing: border-box;
  padding: 0px 25px;
  height: 38px;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.in-icon img {
  float: left;
  height: 13px;
  margin-top: 12px;
  width: auto;
  margin-right: 9px;
}
.in-icon p {
  float: left;
  width: auto;
  color: #fff;
  font-size: 13px;
  height: 100%;
  line-height: 38px;
}
.in-icon:hover {
  opacity: 0.8;
}
.in-fb {
  background: #4c68b3;
}
.in-vk {
  background: #426b9a;
}
.in-vk img {
  height: 15px;
}
.in-tw {
  background: #00abed;
}
.club-cards {
  float: left;
  width: 100%;
}
.club-cards h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
}
.club-cards h3 {
  float: left;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.club-elite {
  float: left;
  width: 100%;
  margin-top: 40px;
}
.club-elite h3 {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.ce-card {
  float: left;
  width: 35%;
}
.ce-card img {
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0px 22px 22.6px 6.4px rgba(0, 0, 0, 0.16);
}
.ce-icons {
  float: left;
  width: 60%;
  margin-left: 5%;
}
.ce-icon {
  float: left;
  width: 19%;
  margin: 0 3%;
  text-align: center;
}
.ce-icon img {
  height: 50px;
  width: auto;
  margin: 0 auto 10px;
}
.ce-icon p {
  font-size: 14px;
  width: 100%;
  min-height: 150px;
}
.ce-price {
  float: left;
  margin-left: 20px;
  width: auto;
  color: #31af31;
  font-size: 22px;
  line-height: 37px;
}
.club-training {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.club-training h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
}
.cr-left {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.cr-left p {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-bottom: 25px;
}
.cr-left span {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.cr-right {
  float: left;
  width: 55%;
}
.center-procedures {
  float: left;
  width: 100%;
}
.center-procedures h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
  margin-bottom: 40px;
}
.center-procedures h3 {
  float: left;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.cp-results {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.cp-result {
  float: left;
  width: 22%;
  margin-right: 3%;
}
.cp-result span {
  float: left;
  width: 100%;
  font-size: 27px;
  color: #31af31;
}
.cp-result p {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
}
.center-massage {
  float: left;
  width: 100%;
  margin-top: 70px;
  background: url('../img/center-massage.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}
.center-massage h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
}
.center-massage h3 {
  float: left;
  width: 60%;
  margin-right: 40%;
  font-size: 14px;
  margin-top: 30px;
  font-weight: normal;
}
.cm-boxes {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.cm-box {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.cm-box img {
  height: 60px;
  width: auto;
}
.cm-box h4 {
  float: left;
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 19px;
}
.cm-box p {
  float: left;
  width: 80%;
  margin-top: 20px;
  font-size: 14px;
}
.cm-left img {
  float: right;
}
.cm-left h4 {
  text-align: right;
}
.cm-left p {
  text-align: right;
  margin-left: 20%;
}
.cm-right img {
  float: left;
}
.cm-right h4 {
  text-align: left;
}
.cm-right p {
  text-align: left;
  margin-right: 20%;
}
.cm-left {
  float: left;
  width: 33.33%;
  margin-right: 16.66%;
}
.cm-center {
  position: absolute;
  bottom: 50px;
  left: 33.33%;
  width: 33.33%;
  text-align: center;
}
.cm-right {
  float: left;
  width: 33.33%;
  margin-left: 16.66%;
}
.center-gallery {
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
}
.center-gallery h3 {
  float: left;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.fitness-zal {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.fitness-zal h3 {
  float: left;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.fitness-zal h4 {
  float: left;
  width: 60%;
  margin: 30px 20% 0;
  text-align: center;
  font-weight: normal;
}
.fz-boxes {
  float: left;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.fz-box {
  display: block;
  width: 20%;
  margin: 0 3%;
}
.fz-box img {
  height: 50px;
}
.fz-box h5 {
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 10px;
}
.fz-box p {
  font-size: 13px;
  margin-top: 10px;
}
.fitness-group {
  float: left;
  width: 100%;
  margin-top: 50px;
}
.fitness-group h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
  margin-bottom: 50px;
}
.fitness-raspisanie {
  float: left;
  width: 100%;
  margin-top: 70px;
  height: 50px;
  background: #31af31;
  padding: 7px 0;
  text-align: center;
}
.fitness-raspisanie h2 {
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
  font-family: "ProximaNovaRegular";
  font-weight: normal;
}
.fitness-raspisanie button {
  height: 50px;
  vertical-align: top;
  padding: 0 47px 0 40px;
  background: #fff;
  margin: 0 40px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  border: 1px solid #31af31;
}
.fitness-raspisanie button svg {
  float: left;
  height: 20px;
  width: auto;
  margin: 15px 10px 15px 0;
}
.fitness-raspisanie button path {
  fill: #31af31;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.fitness-raspisanie button p {
  float: left;
  width: auto;
  height: 50px;
  margin-top: 18px;
  font-size: 13px;
  color: #31af31;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.fitness-raspisanie button:hover {
  background: #31af31;
  border: 1px solid #fff;
}
.fitness-raspisanie button:hover path {
  fill: #fff;
}
.fitness-raspisanie button:hover p {
  color: #fff;
}
.fitness-card {
  float: left;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}
.fitness-card h2 {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: rgba(56, 56, 56, 0.3);
  font-size: 35px;
  font-family: "OpenSans-Bold";
  margin-bottom: 50px;
}
.fc-left {
  float: left;
  width: 35%;
  margin-right: 9%;
  margin-left: 8%;
}
.fc-left img {
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0px 22px 22.6px 6.4px rgba(0, 0, 0, 0.16);
}
.fc-right {
  float: left;
  width: 45%;
  margin-right: 3%;
}
.fc-right p {
  float: left;
  margin-bottom: 40px;
  width: 80%;
  margin-right: 20%;
  font-size: 14px;
}
.card-slide img {
  float: left;
  width: 40%;
  height: auto;
  margin-right: 5%;
  box-shadow: 6px 12px 12.6px 6px rgba(0, 0, 0, 0.16);
}
.card-slide-txt {
  float: left;
  width: 55%;
}
.card-slide-txt p {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}
.card-slide-txt span {
  float: left;
  margin-top: 10px;
  width: 100%;
  font-size: 15px;
  color: #31af31;
}
